{
  "printWidth": 160,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.template",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.ftl",
      "options": {
        "parser": "html"
      }
    }
  ]
}
